<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consumo</title>
    <script>
        function check(){
            const km = document.getElementById("km").value;
            const tiempo = document.getElementById("tiempo").value;
            const consumoMedio = document.getElementById("consumoMedio").value;
            var toret = true;
            if(Number.isInteger(+km) && Number.isInteger(+tiempo) && Number.isInteger(+consumoMedio)){
                toret = true;
            }else{
                alert("Introduce números.");
                toret = false;
            }
            if(km == 0 || tiempo == 0 || consumoMedio == 0){
                alert("Los campos no pueden ser 0.");
                toret = false;
            }else{
                toret = true;
            }
            if(km.trim().length == 0 || tiempo.trim().length == 0 || consumoMedio.trim().length == 0){
                alert("Completa todos los campos.");
            }
            return toret;
        }
    </script>
</head>
<body>
    <h3>¡Calcula tu consumo!</h3>

    <form id="formConsumo" action="/consumo" method="post" onsubmit="return check()">
        <label for="km">Kilómetros recorridos: </label>
        <input type="text" id="km" name="km" required><br><br>
        <label for="tiempo">Tiempo (minutos): </label>
        <input type="text" id="tiempo" name="tiempo" required><br><br>
        <label for="consumoMedio">Consumo medio (litros/km): </label>
        <input type="text" id="consumoMedio" name="consumoMedio" required><br><br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>